<h2 mat-dialog-title>
    @if (data.entry_type) {
        <span>{{ data.entry_type }}</span>
    }
    entry
</h2>
<mat-dialog-content>
    <form
        [formGroup]="productForm"
        (ngSubmit)="onSubmit(data.entry_type)"
        class="product-form"
    >
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="product_name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>SKU</mat-label>
            <input matInput formControlName="sku" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Stock</mat-label>
            <input matInput type="number" formControlName="stock" />
        </mat-form-field>

        <input type="file" (change)="onFileSelected($event)" multiple />

        <button
            mat-flat-button
            mat-dialog-close
            type="submit"
            [disabled]="!productForm.valid"
        >
            @if (data.btn_txt) {
                <span>{{ data.btn_txt }}</span>
            }
        </button>
    </form>
</mat-dialog-content>
